<ng-container>
    <section class="compra-form" *ngIf="!isPaying">
        <div class="principal">
            <app-persona-form [buttonActionMessage]="action" [formularioIn]="formularioCompra" [formularioConfig]="formularioConfig" (enviar)="onEnviar()"></app-persona-form>
        </div>
        <button class="btn btn-primary" (click)="onRegresar()">regresar</button>
    </section>
    <section class="compra-form" *ngIf="isPaying">
        <div class="resumen-form">
            <h2>Resumen de tu compra</h2>
            <br>
            <h2>Contacto del propietario</h2>
            <h3>Nombre: <span>{{compra.propietario}}</span></h3>
            <h3>Correo: <span>{{propietario.correo}}</span></h3>
            <h3>Telefono: <span>{{propietario.telefono}}</span></h3>
            <br>
            <h2>Contacto del comercial encargado</h2>
            <h3>Comercial: <span>{{compra.comercial}}</span></h3>
            <br>
            <h2>Cuenta de cobro</h2>
            <h3>Estado: <span>{{compra.estado}}</span></h3>
            <h3>cuenta: <span>{{compra.cuenta_cobro}}</span></h3>
            <h3>valor: <span>{{compra.monto | currency}}</span></h3>
        </div>
        <button class="btn btn-primary" (click)="onRegresar()">regresar</button>
    </section>
</ng-container>
