<nav class="navbar navbar-expand-lg minav">
    <div class="container-fluid minav">
      <img class="nav-logo" src="assets/images/file.png" alt="logo">
      <span class="navbar-brand minav">VERKEV SAS</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link minav" routerLink="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link minav" routerLink="inmuebles">Inmuebles</a>
          </li>
          <li *ngIf="!esComercial && isAuthenticated" class="nav-item">
            <a class="nav-link minav" routerLink="publicar-inmueble">Publica un inmueble</a>
          </li>
          <li *ngIf="!esComercial && isAuthenticated" class="nav-item">
            <a class="nav-link minav" routerLink="persona-inmuebles">Tus inmuebles</a>
          </li>
          <li *ngIf="!esComercial && isAuthenticated" class="nav-item">
            <a class="nav-link minav" routerLink="pagos-pendientes">Pagos pendientes</a>
          </li>
          <li *ngIf="esComercial" class="nav-item">
            <a class="nav-link minav" routerLink="lista-personas">Personas</a>
          </li>
          <li *ngIf="!isAuthenticated" class="nav-item">
            <a class="nav-link minav" routerLink="registro">Iniciar sesión</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item">
            <a class="nav-link minav" routerLink="perfil">Perfil</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>