<div class="in-detail">
    <div *ngIf="!loading" class="containeri">
        <img [src]="inmueble.id % 2 === 0 ? imagenPar : imagenImpar" class="card-img-top" alt="{{inmueble.id}}">
        <div class="i-detail-c" *ngIf="!isCita && !isCompra && !isArriendo && !isEditar && !isAvaluo && !isAnalisis">
            <section class="info-section">
                <h2>{{inmueble.direccion}}</h2>
                <h5>Detalles: <span>{{inmueble.detalles}}</span></h5>
                <h5>Propietario: <span>{{inmueble.propietario}}</span></h5>
                <h5>Precio: <span>{{inmueble.precio | currency}}</span></h5>
            </section>
            <section class="button-section">
                <div *ngIf="isLoged">
                    <ng-container *ngIf="isOwner">
                        <div class="loged-btns">
                            <button class="btn btn-primary" (click)="onEditar()">Editar</button>
                            <button class="btn btn-primary" (click)="onAvaluo()">Generar avaluo</button>
                            <button class="btn btn-primary" (click)="onAnalisis()">Generar analisis de riesgo</button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!isOwner">
                        <button class="btn btn-primary" (click)="onCompra()">Comprar</button>
                        <button class="btn btn-primary" (click)="onArriendo()">Arrendar</button>
                        <button class="btn btn-primary" (click)="onCita()">Agendar cita</button>
                    </ng-container>
                </div>
                <div *ngIf="!isLoged">
                    <button class="btn btn-primary" routerLink="/registro">Inicia sesión para poder comprar o arrendar</button>
                </div>
                <button class="btn btn-primary" routerLink="/inmuebles">Regresar</button>
            </section>
        </div>
        <div *ngIf="!loading; else loadingTemplate">
            <div class="i-detail-c" *ngIf="isCita">
                <app-agendar-cita [comerciales]="comerciales" [inmueble]="inmueble" [propietario]="propietario" (formSubmitted)="onFormSubmitted()"></app-agendar-cita>
            </div>
        </div>
        <div *ngIf="!loading; else loadingTemplate">
            <div class="i-detail-c" *ngIf="isCompra">
                <app-comprar [comerciales]="comerciales" [inmueble]="inmueble" [propietario]="propietario" (formSubmitted)="onCompraSubmit()"></app-comprar>
            </div>
        </div>
        <div *ngIf="!loading; else loadingTemplate">
            <div class="i-detail-c" *ngIf="isArriendo">
                <app-arrendar [comerciales]="comerciales" [inmueble]="inmueble" [propietario]="propietario" (formSubmitted)="onArriendoSubmit()"></app-arrendar>
            </div>
        </div>
        <div *ngIf="!loading; else loadingTemplate">
            <div class="i-detail-c" *ngIf="isEditar">
                <app-editar-inmueble [inmueble]="inmueble" (formSubmitted)="onEditarSubmit()"></app-editar-inmueble>
            </div>
        </div>
        <div *ngIf="!loading; else loadingTemplate">
            <div class="i-detail-c" *ngIf="isAvaluo">
                <app-generar-avaluo [inmueble]="inmueble" (formSubmitted)="onAvaluoSubmit()"></app-generar-avaluo>
            </div>
        </div>
        <div *ngIf="!loading; else loadingTemplate">
            <div class="i-detail-c" *ngIf="isAnalisis">
                <app-generar-analisis [inmueble]="inmueble" (formSubmitted)="onAnalisisSubmit()"></app-generar-analisis>
            </div>
        </div>
        <ng-template #loadingTemplate>
            <div>Cargando datos...</div>
        </ng-template>
    </div>
    <div *ngIf="loading">
        cargando...
    </div>
</div>
